body {
  padding: 0;
  margin: 0;
}

main {
  background: Gainsboro;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  z-index: 1;
  width: 50%;
}

video {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 800px;
  object-fit: cover;
}

audio {
  width: 100%;
}

#game-board {
    z-index: 2;
    position: relative;
}

#game-board.game-over img {
    opacity: .5;
    cursor: default;
}

#game-board div {
    height: 100px;
    width: 100px;
    border: solid gray 1px;

}

#game-board img {
    height: 100px;
    cursor: pointer;

    transition: transform 1s ease;
    transform-origin: left bottom;

    /* animation-name: swim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    
    /* animation-fill-mode: forwards; */
}

#game-board img.swim {
    animation: swim 2s 5s infinite alternate;
}

#game-board img.fast {
    animation-duration: 1s;    
}

#game-board img.slow {
    animation-duration: 4s;    
}

#bubbles {
    position: absolute;
    z-index: -1;
}

#chart {
    margin-top: 200px;
    display: block;
    width: 600px;
    /* width: 600px;
    margin-left: 55%; */
}  


/* animations! */

/* transitions */
#game-board img:hover {
    /* height: 50px; */
    transform: scale(.5);
}

/* keyframes */
@keyframes swim {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -30px;
    }
    100% {
        margin-left: 100px;
    }
}
