* {
    border: dotted red 1px;
}

h1 {
    width: fit-content;
    margin: 0 auto;
}

/* cascading */
nav ul {
    padding: 0;
    margin: 0 auto;
    width: fit-content;
}

nav li {
    background-color: blue;
}

nav li {
    list-style: none;
    display: inline;
    padding: 10px 10px;
    background-color: red;
}

nav li:hover {
    background-color: purple;
}

a[href="#about-us"] {
    color: white;
}

a:hover {
    font-size: 20px;
}






/* specificity rules */

section {
    border: solid black 5px;
}

.bird {
    border: solid black 7px;
}

#flamingo {
    border: solid black 12px;
}

#exhibits section {
    border-style: dotted;
}

#exhibits article section {
    border-style: dashed;
}