/*

TODOS
- make the articles look like exhibits: fences, the color of the animal, square, etc
- make the "animals" look like animals? or just circles w different colors
- on hover over an article, change something
- on hover over a link change something, on visited, etc

*/

nav ul {
    padding: 0;
    margin: 0 auto;
    width: fit-content;
}

nav li {
    list-style: none;
    display: inline;
    padding: 10px 10px;
    /* margin: 10px 10px; */
    background: red;
    color: white;
}

a[href="#about-us"] {
    color: white;
}

nav li:hover {
    background-color: purple;
}

a:hover {
    font-size: 20px;
}