/* * {
    border: black solid 1px;
} */

html, body {
    min-width: 1000px;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;

    background-color: white;
    z-index: 2;
}

nav ul {
    /* padding: 0;
    margin: 0 auto;
    width: fit-content; */

    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
    /* list-style: none;
    display: inline-block;
    padding: 10px 10px; */
}

main {
    text-align: center;
    padding-top: 150px;
    z-index: 1;
    background-color: rgba(20,100,200,.5);
    /* background-color: hsla(195, 53%, 79%, 1);
    background-color: #add8e6; */
}

main aside,
main section {
    border-color: orange;

    min-height: 100px;
    display: inline-block;
    
    margin: 0 10px;
    vertical-align: top;
}

/*  asides  */
main aside {
    position: sticky;
    width: 250px;
    min-height: 400px;
    top: 80px;
    
    padding: 10px;

    background-color: rgba(255,255,255,1);
}

aside img {
    max-width: 100%;
}

aside figure {
    margin: 0;
    border: 8px inset gray;
}

aside ul {
    list-style: none;
    padding: 0;
    background-color: rgba(255,255,255,1);
}

aside li {
    margin: 2px;
    padding: 5px;
    border: 1px gray solid;
}

/* tweet-esque cards */
.card {
    border-color: red;

    height: 200px;
    width: 400px;
    margin: 50px auto;
    position: relative;
    
    text-align: left;
    border: 1px solid #add8e6;
    background-color: rgba(255,255,255,1);
}

.card:first-child {
    margin-top: 0;
}

.avatar {
    position: absolute;
    top: 20px;
    left: 30px;

    height: 30%;
}

.card h1 {
    padding-left: 30%;
}

.card p {
    margin-top: 75px;
    padding-left: 10px;
}

.card time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgba(0,0,0,.5);
}
